.root {
    -fx-base: #2b2b2b;
    -fx-background: #1e1e1e;
    -fx-text-fill: #e0e0e0;
}

.menu-bar {
    -fx-background-color: #2b2b2b;
    -fx-text-fill: #e0e0e0;
}

.menu-bar .label {
    -fx-text-fill: #e0e0e0;
}

.canvas-container {
    -fx-background-color: #181818;
}

.control-panel {
    -fx-border-width: 0px 0px 0px 2px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 10, 0, 2, 0);
}

.label {
    -fx-text-fill: #e0e0e0;
}

.label .text {
    -fx-font-family: "Lucida Console";
}

.button {
    -fx-background-color: #3a3a3a;
    -fx-font-family: "Lucida Console";
    -fx-text-fill: white;
    -fx-background-radius: 5;
}

.button:hover {
    -fx-background-color: #5a5a5a;
}

.slider .track {
    -fx-background-color: #555555;
}

.slider .thumb {
    -fx-background-color: #e8e8e8;
}

.slider .axis .axis-minor-tick-mark,
.slider .axis .axis-tick-mark {
    -fx-stroke: rgb(185, 185, 185);
}

.combo-box, .combo-box-popup {
    -fx-background-color: #2e2e2e;
    -fx-text-fill: #ffffff;
}